name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Build Binaries
        run: |
          mkdir dist
          GOOS=linux GOARCH=amd64 go build -o dist/rev-up-linux-amd64 cmd/rev-up/main.go
          GOOS=linux GOARCH=arm64 go build -o dist/rev-up-linux-arm64 cmd/rev-up/main.go
          GOOS=windows GOARCH=amd64 go build -o dist/rev-up-windows-amd64.exe cmd/rev-up/main.go
          GOOS=darwin GOARCH=amd64 go build -o dist/rev-up-darwin-amd64 cmd/rev-up/main.go
          GOOS=darwin GOARCH=arm64 go build -o dist/rev-up-darwin-arm64 cmd/rev-up/main.go

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*
